doctype html
head
  title Bishop Fox - Hosts
  link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='/style.css')
header
  h3 Bishop Fox
.container
  h1.page-title Ports
  div
    span.host-subtitle IP: #{host.addr}
  ul.list-unstyled.items-list
    each port in ports
      li
        .host-block.border.rounded
          span.port-name Port #{port.port_id} (#{port.protocol})
          .field
            label Service :
            span #{port.service_name}
          .field
            label Service method:
            span #{port.service_method}
          .field
            label Reason:
            span #{port.reason}
          .field
            label State:
            span #{port.state}
            if port.state === 'filtered'
              i.fas.fa-exclamation-triangle
            else if port.state === 'open'
              i.fas.fa-exclamation-circle
